<p id="notice"><%= notice %></p>

<p>
  <strong>Shop:</strong>
  <%= @po.shop_id %>
</p>

<p>
  <strong>Number:</strong>
  <%= @po.number %>
</p>

<%= link_to 'Edit', edit_po_path(@po) %> |
<%= link_to 'Back', pos_path %>
